.container {
  width: 1110px;
  margin: 0 auto;
}

ul,
menu {
  margin: 0px 0px 0px 0px;
  padding: 0;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  line-height: 38px;
}

.header__logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
}

.header__logo a {
  height: 100%;
}

.header__nav {
  display: flex;
}

.header__nav ul {
  padding-left: 20px;
}

.header__nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.header__nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  transition: .2s;
  display: inline-block;
}

.header__nav ul li a:hover {
  background-color: transparent;
  text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.header__anim-lines {
  min-width: 40px;
  text-align: right;
  height: 40px;
  margin-right: 20px;
  padding-top: 8px;
}

.header__anim-lines span {
  display: block;
  background-color: #000;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 3px;
  height: 3px;
  animation: headerSpans alternate-reverse infinite 1s;
}

.header__anim-lines span:nth-child(odd) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes headerSpans {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes headerSpans {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}